/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

/* Header */
.headercontainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 160px;
    background-color: #1f2937;
    color: #f9faf8;
    font-size: 24px;
    font-weight: bold;
}
.headercontainer ul {
    display: flex;
    gap: 20px;
    list-style: none;
    margin: 0;
    padding: 0;
}
.headercontainer a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
    font-weight: normal;
}

/* Hero */
.herocontainer {
    display: flex;
    justify-content: space-evenly;
    padding: 20px 160px;
    background-color: #1f2937;
}
.herocontainer .herotext {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 8px;
    color: #e5e7eb;
    font-size: 18px;
    font-weight: normal;
}
.herotext h1 {
    margin-bottom: 0;
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}
.herocontainer button {
    width: 24%;
    margin: 0;
    padding: 8px 24px;
    border: 0;
    border-radius: 8px;
    background-color: #3882f6;
    color: #f9faf8;
    font-size: 16px;
    font-weight: bold;
}
.herocontainer img {
    width: 50%;
    height: auto;
    padding: 20px 0 20px 20px;
}

/* Information */
.infocontainer {
    display: flex;
    flex-direction: column;
    padding: 0 160px 60px;
}
.infocontainer h2 {
    text-align: center;
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
}
.infocontainer .infocard {
    display: flex;
    justify-content: space-evenly;
    padding: 0 20px 0 20px;
}
.infocard .item {
    width: 150px;
    text-align: center;
}
.item img {
    width: 150px;
    height: 150px;
    border-radius: 20px;
}

/* Quote */
blockquote {
    margin: 0;
    padding: 80px 240px;
    font-style: italic;
    background-color: #e5e7eb;
    color: #1f2937;
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
}
blockquote p {
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    text-align: right;
    padding-right: 40px;
}

/* Call to Action */
.ctacontainer {
    padding: 0 160px;
    text-align: center;
}
.ctacontainer .ctaitem {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 60px 100px;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: #3882f6;
    color: #f9faf8;
}
.ctaitem .ctatext {
    text-align: left;
}
.ctatext h3 {
    margin-bottom: 0;
}
.ctatext p {
    margin-top: 4px;
    color: #e5e7eb;
}
.ctaitem button {
    padding: 8px 24px;
    border: 2px solid #f9faf8;
    border-radius: 8px;
    background-color: #3882f6;
    color: #f9faf8;
    font-size: 18px;
    font-weight: bold;
}

/* Footer */
.footercontainer {
    text-align: center;
    padding: 20px;
    background-color: #1f2937;
    color: #e5e7eb;
}
